<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <title>{{ayarlar.title}}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="{{ayarlar.keyword}}" name="keywords">
  <meta content="{{ayarlar.description}}" name="description">

  <!-- Favicon -->

  {{style('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap')}}
  {{style('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')}}
  {{style('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css')}}
  {{style('lib/animate/animate.min.css')}}
  {{style('lib/owlcarousel/assets/owl.carousel.min.css')}}
  {{style('lib/lightbox/css/lightbox.min.css')}}
  {{style('css/style.css')}}
</head>

<body>
