    @include('admin/includes/head')
    @include('admin/includes/header')
    @include('admin/includes/sidebar')

    <main class="app-content">
     @!section('content')
    </main>


    @include('admin/includes/footer')
