<!DOCTYPE html>
<html lang="tr">
<head>

  <title>Yönetim Paneli</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

{{style('backend/css/main.css')}}
{{style('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')}}
{{style('https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css')}}
{{script('https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js')}}

<!-- Main CSS-->

</head>
<body class="app sidebar-mini">
<!-- Navbar-->
